/**
 * 9.0 - Header
 */
 .header {
  position: relative;
  margin-bottom: 75px;
  box-sizing: content-box;
}

.head-bar {
  z-index: 3;
  opacity: 0;
  position: relative;
  visibility: hidden;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  transform: translate(0, -100px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out;
  -moz-transition: -moz-transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out;
  transition: transform 400ms ease-out 100ms, padding 250ms ease-out, box-shadow 250ms ease-out;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.head-bar.animated {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}

.head-bar-inner {
  width: 100%;
  max-width: 1550px;
  padding: 10px 15px;
  margin: 0 auto;
}

.head-bg {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  position: absolute;
  background-size: cover;
  background-color: #242832;
  background-repeat: no-repeat;
  background-position: center;
}

.head-bg:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(44, 51, 64, 0.8);
}

@media (max-width: 767px) {
  .head-bar {
      padding-top: 0;
      padding-bottom: 0;
      position: relative;
  }

  .head-bar-inner .row > div {
      position: static;
  }
}