<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body class="home header-has-img loading">

  <% include ../partials/nav.ejs %>

  <% include ../partials/sidebar.ejs %>

  <div class="wrapper">
    <header class="header">
        <div class="head-bg" style="background-image: url('img/detroit.jpg')"></div>
    
        <div class="head-bar">
            <div class="head-bar-inner">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <a class="logo" href="index.html"><span>RS</span>card</a>
                        <!-- <a class="head-logo" href=""><img src="img/rs-logo.png" alt="RScard"/></a> -->
                    </div>
    
                    <div class="col-sm-9 col-xs-6">
                        <div class="nav-wrap">
                            <nav id="nav" class="nav">
                                <ul class="clearfix">
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#skills">Skills</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#experience">Experience</a></li>
                                    <li><a href="#references">References</a></li>
                                    <li>
                                        <a href="category.html">Blog</a>
                                        <ul>
                                            <li><a href="single-image.html">Image Post</a></li>
                                            <li><a href="single-slider.html">Slider Post</a></li>
                                            <li><a href="single-video.html">Video Post</a></li>
                                            <li><a href="single-audio.html">Audio Post</a></li>
                                            <li><a href="single-vimeo.html">Vimeo Post</a></li>
                                            <li><a href="single-youtube.html">Youtube Post</a></li>
                                            <li><a href="single-dailymotion.html">Dailymotion Post</a></li>
                                            <li><a href="single.html">Without Media Post</a></li>
                                            <li><a href="typography.html">Typography Page</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#calendar">Calendar <span></span></a></li>
                                    <li><a href="#contact">Contact <span></span></a></li>
                                </ul>
                            </nav>
    
                            <button class="btn-mobile btn-mobile-nav">Menu</button>
                            <button class="btn-sidebar btn-sidebar-open"><i class="rsicon rsicon-menu"></i></button>
                        </div>
                        <!-- .nav-wrap -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- .header -->
    
    <div class="content">
          <div class="container">

              <!-- START: PAGE CONTENT -->
              <section id="about" class="section section-about">
                  <div class="animate-up">
                      <div class="section-box">
                          <div class="profile">
                              <div class="row">
                                  <div class="col-xs-5">
                                      <div class="profile-photo"><img src="/img/avatar.png" alt="amitriu5"/></div>
                                  </div>
                                  <div class="col-xs-7">
                                      <div class="profile-info">
                                          <div class="profile-preword"><span>Hello</span></div>
                                          <h1 class="profile-title"><span>I'm</span> amitriu5</h1>
              
                                          <h2 class="profile-position">Some title</h2></div>
                                      <ul class="profile-list">
                                          <li class="clearfix">
                                              <strong class="title">Horoscope</strong>
                                              <span class="cont">Aries</span>
                                          </li>
                                          <li class="clearfix">
                                              <strong class="title">Location</strong>
                                              <span class="cont">Detroit, MI</span>
                                          </li>
                                          <li class="clearfix">
                                              <strong class="title"><span class="button">On Vacation</span></strong>
                                              <span class="cont"><i class="rsicon rsicon-calendar"></i>till March 25, 2016</span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="profile-social">
                              <ul class="social">
                                  <li><a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i
                                          class="rsicon rsicon-facebook"></i></a></li>
                                  <li><a class="ripple-centered" href="https://twitter.com" target="_blank"><i
                                          class="rsicon rsicon-twitter"></i></a></li>
                                  <li><a class="ripple-centered" href="https://www.linkedin.com" target="_blank"><i
                                          class="rsicon rsicon-linkedin"></i></a></li>
                                  <li><a class="ripple-centered" href="https://plus.google.com" target="_blank"><i
                                          class="rsicon rsicon-google-plus"></i></a></li>
                                  <li><a class="ripple-centered" href="https://dribbble.com" target="_blank"><i
                                          class="rsicon rsicon-dribbble"></i></a></li>
                                  <li><a class="ripple-centered" href="https://www.instagram.com" target="_blank"><i
                                          class="rsicon rsicon-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
              
                      <div class="section-txt-btn">
                          <p><a class="btn btn-lg btn-border ripple" target="_blank"
                              href="http://dev.novembit.com/rs_card/wp-content/uploads/2015/11/test-1.pdf">Click Me</a></p>
              
                          <p>Hello! I'm amitriu5.</p>
                      </div>
                  </div>
              </section>
              <!-- #about -->
              <% include ../sections/skills.ejs %>
              <% include ../sections/portfolio.ejs %>   
              <% include ../sections/experience.ejs %>   
              <% include ../sections/education.ejs %>      
              <% include ../sections/clients.ejs %>  
              <% include ../sections/references.ejs %> 
              <% include ../sections/prices.ejs %> 
              <% include ../sections/blog.ejs %>  
              <% include ../sections/text.ejs %>  
              <% include ../sections/interests.ejs %>
              <% include ../sections/calendar.ejs %>
              <% include ../sections/contact.ejs %>                     
              <!-- END: PAGE CONTENT -->

      </div>
      <!-- .container -->
  </div>
  <!-- .content -->
  <% include ../partials/footer.ejs %>   
</div>
<!-- .wrapper -->

<a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>

<div id="overlay"></div>
<div id="preloader">
    <div class="preload-icon"><span></span><span></span></div>
    <div class="preload-text">Loading ...</div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="./fonts/map-icons/js/map-icons.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="./js/plugins/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="./js/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.appear.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.onepagenav.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.mediaelement/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.fancybox/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="./js/plugins/jquery.owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="./js/options.js"></script>
<script type="text/javascript" src="./js/site.js"></script>


</body>
</html>
